{% extends '../../dist/templates/pages/base.html' %}
{% block page_title %}Home{% endblock %}
{% load static %}

{% block content %}

<section class="mt-5">
<div class="container sermon-section">
    <img src="{%static 'images/pastor1.jpg' %}" class="" alt="Sermon-img">
    <div class="layer"></div>
    <div class="sermon-info pb-4 ms-2">
        <button class="btn btn-accent btn-latest rounded-pill">Latest Episode</button>
        <h3 class="sermon-title">Sharing the love of Christ</h3>
        <div class="col">
            <!-- <a type="button" class="btn btn-accent btn-giving" href="">
                Giving
              </a> -->
            <a type="button" class="btn-lg btn-primary" href="">WATCH EPISODE</a>
            <a type="button" class="btn-lg btn-outline" href="">MORE SERMONS</a>
        </div>
    </div>
</div>
</section>

<section id="experience" class="mt-5">
    
    <div class="container experience-section">
        <h2>Let’s tailor your Experience</h2>
        <div class="row">
            <div class="col-7">
                <div class="row mb-2">
                    <div class="card my-3 shadow rounded border-0">
                        <div class="card-body">
                             <h3><i class="bi bi-geo-alt me-1"></i>Already part of a campus society?</h3>
                        </div>
                      </div>    
                </div>
                  <div class="row mb-4 d-flex justify-content-center">
                    <div class="card rounded card-experience shadow border-0 me-4">
                        <div class="card-body text-center">
                            <h3><i class="bi bi-person me-3"></i>Visitor here?</h3>
                        </div>
                      </div>
                      <div class="card card-experience rounded shadow border-0" >
                        <div class="card-body text-center">
                            <h3><i class="bi bi-heart-pulse me-3"></i>Join a group</h3>
                        </div>
                      </div>
                  </div>
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
</section>

{% endblock %}