{% extends '../../dist/templates/pages/base.html' %}
{% block page_title %}Home{% endblock %}
{% load static %}

{% block content %}

<section class="mt-5">
<div class="container sermon-section">
    <img src="{%static 'images/pastor1.jpg' %}" class="" alt="Sermon-img">
    <div class="layer"></div>
    <div class="sermon-info pb-4 ms-2">
        <button class="btn btn-accent btn-latest rounded-pill">Latest Episode</button>
        <h3 class="sermon-title">Sharing the love of Christ</h3>
        <div class="col">
            <!-- <a type="button" class="btn btn-accent btn-giving" href="">
                Giving
              </a> -->
            <a type="button" class="btn-lg btn-primary" href="">WATCH EPISODE</a>
            <a type="button" class="btn-lg btn-outline" href="">MORE SERMONS</a>
        </div>
    </div>
</div>
</section>

<section id="experience" class="mt-5">
    
    <div class="container experience-section mb-4">
        <h2>Let’s tailor your Experience</h2>
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="row mb-2">
                    <div class="card my-3 shadow rounded border-0">
                        <a type="button" class="card-body text-center" href="">
                             <span><i class="bi bi-geo-alt me-3"></i>Already part of a campus society?</span>
                        </a>
                      </div>    
                </div>
                  <div class="row mb-4 d-flex justify-content-center">
                    <div class="card rounded card-experience shadow border-0 me-4">
                        <a type="button" class="card-body text-center" href="">
                            <span><i class="bi bi-person me-3"></i>Visitor here?</span>
                        </a>
                      </div>
                      <div class="card card-experience rounded shadow border-0" >
                        <a type="button" class="card-body text-center" href="">
                            <span><i class="bi bi-heart-pulse me-3"></i>Join a group</span>
                        </a>
                      </div>
                  </div>
                  <div class="main-event">
                    <img src="{%static 'images/pastor.jpg' %}" class="" alt="Sermon-img">
                    <div class="event-info ms-3 mb-4">
                        <button class="btn btn-accent btn-latest rounded-pill">Conference</button>
                        <h3 class="sermon-title">Help from Above</h3>
                        <a type="button" class="btn btn-primary" href="">Learn more</a>
                      </div>
                </div>

            </div>
            
            <div class="col-lg-4 col-md-12">
                
            </div>
        </div>
    </div>
</section>

{% endblock %}