{% extends '../../dist/templates/pages/base.html' %}
{% block page_title %}Sermons - Christ's Love Church {% endblock %}
{% load static %}

{% block content %}
<section class="order-hero">
    <div class="order-banner">
        <div class="layer"></div>
        <div class="text-center order-heading">
            <h1 class="display-5 fw-bold text-white">Store</h1>
        </div>
    </div>
</section>

<section class="products my-3">
    <div class="container">
        <h2>Place Order</h2>
        <span>Kindly provide necessary information for the form below to complete order</span>
        <div class="row">
            <div class="col-lg-3 my-3">
                <div class="card h-100 shadow-sm"> <img src="{%static 'images/hoodie.png'%}" class="card-img-top"
                        alt="...">
                    <div class="label-top shadow-sm">New</div>
                    <div class="card-body">
                        <h5 class="card-title mb-1">Teen Week Hoodie</h5>
                        <div class="clearfix mb-2">
                            <div class=" d-flex justify-content-between">
                                    <span class="float-start price-hp py-0">USD 20.00</span>
                                    <div class="remove rounded-circle"><i class="bi bi-trash3"></i></div>
                                    
                            </div>
                            
                            
                        </div>
                        
                        <div class="text-center">
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{%endblock%}