{% extends '../../dist/templates/pages/base.html' %}
{% block page_title %}Sermons - Christ's Love Church {% endblock %}
{% load static %}

{% block content %}
<section class="order-hero">
    <div class="order-banner">
        <div class="layer"></div>
        <div class="text-center order-heading">
            <h1 class="display-5 fw-bold text-white">Store</h1>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2>Place Order</h2>
        <h4>Kindly provide necessary information for the form below to complete order</h4>
        <div class="form-class">
            <form action="" method="post">
                
            </form>
        </div>
    </div>
</section>


{%endblock%}