{% extends '../../dist/templates/pages/base.html' %}
{% block page_title %}Christ's Love Church - Work for the Lord{% endblock %}
{% load static %}
{%block content%}
<section class="outreach-hero">
  <div class="outreach-banner">
      <div class="layer"></div>
      <div class="text-center outreach-heading row">
          <h1 class="display-5 fw-bold text-white">Welcome to our Outreach Gallery</h1>
          <span class="text-white mt-2 font-14">“I tell you the truth, whatever you did for one of 
            the least of these brothers of mine, you did it for me.”</span>
            <span class="text-white">Matthew 25:40</span>
      </div>
  </div>
</section>
<section>
  
</section>

{%endblock%}